body {
    font-family: "Caveat", cursive;
    background-color: #FFEDE6;
}

#header{
    padding: 10px;
    background-color: #ffa07a;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    box-sizing: border-box;
}

#text {
    color: #a52a2a;
    line-height: 20px;
}

#emoji {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 35px;
}

#contents {
    color: #a52a2a;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#countdown {
    color: #a52a2a;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

#present {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#presentLink {
    display: inline-block;
    pointer-events: none;
    cursor: not-allowed;
}

#present img {
    width: 200px;
    animation: shake 1.5s infinite ease-in-out;
}

#presentLink.unlocked {
    pointer-events: auto;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}